.emotion-text{
    padding: 1rem 1rem;
    pointer-events: none;
    color: white;
    position: absolute;
    bottom: 6%;
    left: 4%;
    right: 0;
    width:700px;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    gap: 1rem;
    background: rgba(17, 16, 16, 0.67);
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .emotion-text h3{
    /* font-style: italic; */
    font-family: 'Poppins', sans-serif;
    font-weight:200;
  }
  .emotion-text h4{
    font-style: italic;
    font-weight: 100;
  }
  
@media only screen and (max-width:800px) {
    .emotion-text{
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 1rem;
        bottom: 8%;
        margin-left:  auto;
        margin-right:  auto;
        width: 90vw;
        font-size: 1.3rem;
        font-weight: 100;
        gap: 0.5rem;
        text-align: center;
        /* letter-spacing: 0.3px; */
      }
}