.emotionwheel{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-top: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    gap: 1rem;
    font-weight: 200;
}
.emotionwheel .circle-wrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 3.5vw;
}

.add-quote-btn{
    margin-top: 1rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #343434;
	-webkit-text-stroke-color: #1A1A1A;
    transition: 275ms all ease-in-out;
    font-size: 1rem;
    text-transform: uppercase;
	font-weight: 500;
    cursor:pointer
}
.add-quote-btn:hover{
    transform: scale(1.08);
}
