.emotionwheel{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-top: 1rem;
    /* border: 2px solid blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    color: white;
    gap: 1rem;
    font-weight: 200;
}
#header_line{
    font-weight: 300;
    /* Good glowy shadow */
    /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.247); */
    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); */
    text-shadow: 1.7px 1.4px 1px rgba(0, 0, 0, 0.664);

}
.emotionwheel .circle-wrapper{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    gap: 3vw;
    margin: 0 10rem;
}

.add-quote-btn{
    margin-top: 1rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    /* -webkit-text-fill-color: #343434; */
	/* -webkit-text-stroke-color: #1A1A1A; */
    transition: 275ms all ease-in-out;
    font-size: 1rem;
    text-transform: uppercase;
	font-weight: 500;
    cursor:pointer
}
.add-quote-btn:hover{
    transform: scale(1.08);
}

@media only screen and (max-width:800px) {

    /* .prompt-input{
      width: 200px;
      bottom: 0.5rem;
      border: 1px solid red;
      display: flex;
      align-content: center;
      justify-content: center;
      width: 20%;
    } */
  
    .emotionwheel .circle-wrapper{
      display: flex;
      flex-wrap: wrap;
      gap:3vw;
      margin: 0 1rem;
    }
  }

  a{
    text-decoration: none;
}