@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

.add-quote{
  width: 100%;
  min-height: 100vh;
  background-image: url(/src/assets/UnregisteredAuthor.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;

  color: white;
}
.multi-checkbox{
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#multipleInput{
  font-size: 1rem;
  width: 1rem;
}
option{
  background-color: transparent;
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 1px );
}
#emotion{
  background-color: transparent;
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 1px );
}
.home-btn{
    position: absolute;
    padding: 1rem;
    /* margin-top: 0.5rem;
    padding: 1rem; */
    top: 0.5rem;
    right: 1rem;
    background-color: rgba(17, 16, 16, 0.412);
    /* width: 4rem;
    height: 3rem; */
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition:  375ms ease-in-out;
    font-size: 1rem;
    font-weight: 100;
    color:rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: 1px solid transparent;
}

.home-btn:hover{
    outline: 1px solid #04d9ff;
    /* outline: 1px solid #32C983; */
    transform: scale(1.1);
}

.form{
  color: white;

  font-size: 1.125rem;
  font-weight: 300;

  padding: 2rem;
  margin-bottom: 15rem; 

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 50vw;
  /* height: 20vh; */
  /* border-radius: 50%; */
  background-color: rgba(17, 16, 16, 0.412);
  transition:  375ms ease-in-out;
  color:rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline: 1px solid transparent;
}
.form > input {
  /* font-size: 1.125rem; */
  color:  white;
  background-color: transparent;
  width: 40vw;
  height: 2rem;
  padding: 1em 0.5rem;
  border-radius: 8px;
  outline: none;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba(0, 0, 0, 0.637);
}
.submit-btn{
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.671);
  color: black;
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border: 1px solid rgba(0, 0, 0, 0.637);
}
/* .submit-btn:hover{
  color: white;
  background-color: transparent;
} */

.form > .secondary-input{ 
  color: white;
  width: 15rem;
  height: 2rem;
  border-radius: 8px;
  background-color: transparent;
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border: 1px solid rgba(0, 0, 0, 0.637);
  /* border: 1px solid red; */

}
#emotion{
  background-color: transparent;
  /* background: rgb(194, 222, 209); */
  /* border: 3px solid rgb(84, 73, 116); */
  /* border: 1px solid #fff; */
  background-color: transparent;
  width: 300px;
  height: 30px;
}
/* padding: 1em 0.5rem; */
#emotion option{
  /* background: indigo; */
  background-color: #18191afb;
  /* background-color: transparent; */
}

.radio-group{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 0.8rem;
}
@media only screen and (max-width:800px) {
  .App{
    display: relative;
    height: 100svh;
    background-size: cover;
  }
 
}