/* :root{
	primary-color: #32C983;
	primary-color: #25F193;
	black: #343434;
	dark-black: #1A1A1A;
	gradient: linear-gradient(to top, #32C983, #25F193);
	black-gradient: linear-gradient(-225deg, #1A1A1A, #343434);
} */
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid white; */
  -webkit-text-fill-color: white;
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  /* transition: background-color 5000s ease-in-out 0s; */
}
.gate-form input{
    color: white;
}

#signup{
    color: white;
    width: 100vw;
    min-height: 100vh;
    /* background: linear-gradient(-225deg, #1A1A1A, #343434); */
}
.gate-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  width: 370px;
  text-align: center;
  padding: 60px 32px;
  margin-top : 2rem;
  /* background: rgba(255, 255, 255, 0.04); */
  /* box-shadow: -1px 4px 28px 0px rgba(58, 58, 58, 0.5); */
  /* background: linear-gradient(-225deg, #1A1A1A, #343434);; */
}


.gate-form header {
  /* color: rgb(0, 36, 136); */
  color: var(--primary-color);
  font-size: 33px;
  font-weight: 400;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  /* font-family: "Josefin Sans", sans-serif; */
}

.input-group {
  border-radius: 6px;
  color:  white;
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  /* background: rgba(255, 255, 255, 0.94); */
  background: #1A1A1A;
  /* backdrop-filter: blur( 1px ); */
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba(0, 0, 0, 0.637);
  /* box-shadow: -1px 4px 28px 0px rgba(58, 58, 58, 0.5); */
  
}


.input-group span {
    /* color: #222; */
    background-color: #1A1A1A;
    width: 40px;
    line-height: 45px;
}

.input-group input {
  height: 100%;
  width: 100%;
  outline: none;
  /* color: #222; */
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.gate-form input{
    border:none;
    /* border-radius: 6px; */
    background-color: #1A1A1A;
}
.input-group1 input {
    margin: auto;
    background-color: #1A1A1A;
}

.show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  display: none;
  font-family: "Montserrat", sans-serif;
}

.password:valid ~ .show {
  display: block;
}

.space {
  margin-top: 16px;
}

.pass {
  text-align: left;
  margin: 10px 0;
}

.pass a {
  /* color: rgb(0, 0, 0); */
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.pass:hover a {
  text-decoration: underline;
}

input[type="submit"] {
  text-transform: uppercase;
  background: var(--dark-black);
  border: none;
  height: 45px;
  width: 80%;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  cursor: pointer;
  font-family: "Poppins", sans-serif;

  /* font-family: "Josefin Sans", sans-serif; */
  transition: 275ms outline ease-in-out;
  outline: 1px solid transparent;
}

input[type="submit"]:hover {
  /* background: var(--secondary-color); */
  outline: 1px solid var(--secondary-color);
  
  /* color: black; */
}

.login {
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

.signup {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.signup a {
  color: var(--primary-color);
  text-decoration: none;
}

.signup a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
